# Default values for chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: ghcr.io/monicag/example-container-app/app
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: sha-e63f4f8

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}
podLabels: {}

service:
  type: LoadBalancer
  port: 6000
  targetPort: 5051
  name: example-container-app-service-pr

extraEnv:
  app_word: apple